{% extends "layout.html" %}

{% block content %}
<form action='/recommend' method='post'>
    <table>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Ingredients</th>
        <th>Your Rating</th>
        {% for ind, row in df.iterrows()%}
            <tr>
                <td><input type=number name=id{{ind}} value={{row["id"]}}> </td>
            {% for col in df.columns[1:] %}
                <td>{{row[col]}}</td>
            {% endfor %}
                <td><label for="{{ind}}">Rating</label><br>
                    <input type="number" min=1 max=5 name="{{ind}}">    
                </td>
            </tr>
        {% endfor %}
    </table>
    <select name='select_model'>
        <option name='svd' value='svd'>SVD</option>
        <option name='nmf' value='nmf'>NMF</option>
        <option name='knnb' value='knnb'>KNN Basic</option> 
        <option name='knnwm' value='knnwm'>KNN With Means</option> 
        <option name='coclust' value='coclust'>CoClustering</option> 
        <option name='slope1' value='slope1'>Slope One</option>  
    </select>
    <input type='submit' value="Make Recommendations">
</form>


{% endblock content %}