<!DOCTYPE='html'>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@300&display=swap" rel="stylesheet">    <link href="../static/css/main.css" rel='stylesheet'>
    <title>CHEF MACHINA</title>
    
</head>
<body style="font-family: font-family: 'Roboto', sans-serif;">
    <div class="header">
    <h1 style="font-family: 'Abril Fatface', cursive;font-size:64px;">CHEF MACHINA</h1>
  </div>
  <nav class="nav">
    <a class="nav-link active" aria-current="page" href="/home">Home</a>
    <a class="nav-link" href="/search">Search</a>
    <a class="nav-link" href="generate_menu">Generate Menu</a>
  </nav>
{% block content%}
{% endblock %}
</body>
</html>